.balance-card-container {
  display: block;
  padding: 1rem 0;

  & > div.value-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .25rem;

    & > p.value {
      margin: 0;
    }
  }
}
