<ion-header [translucent]="true">
  <ion-toolbar mode="md"></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="page-container steps">
    <div class="content">
      <ion-img class="logo" src="../../../../assets/logo/logo.svg" alt="LOGO"></ion-img>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="secondary" [routerLink]="['/auth/login']">
    Está pronto? Vamos lá
  </ion-button>

  <p>
    <ion-text>Você deve possuir um cadastro para prosseguir</ion-text>
  </p>
</ion-footer>

<div class="b-circle primary-background"></div>
