<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-title>Olá, {{ auth.name }}!</ion-title>

    <ion-buttons slot="end">
      <app-balance-visibility></app-balance-visibility>

      <app-notification-button></app-notification-button>

      <app-appearance-button></app-appearance-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="content">
      @if (auth.role === auth.roles.ALUMN) {
      <app-balance-card></app-balance-card>
      } @else {
      <span>ADMIN or GUSER</span>
      }
    </div>
  </div>
</ion-content>
