<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" ios="home-outline" md="home-outline" size="medium"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="balance" href="/tabs/balance">
      <ion-icon aria-hidden="true" ios="logo-bitcoin" md="logo-bitcoin" size="medium"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon aria-hidden="true" ios="cart-outline" md="cart-outline" size="medium"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" ios="person-circle-outline" md="person-circle" size="medium"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
