<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-appearance-button></app-appearance-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    Register

    <ion-button [routerLink]="['/users/tabs/home']">
      Go to tabs
    </ion-button>

    <ion-button [routerLink]="['/auth/login']">
      Go to Login
    </ion-button>

    <ion-button [routerLink]="['/auth/steps']">
      Go to Steps
    </ion-button>
  </div>
</ion-content>
