.page-container.login {
  .content {
    ion-card {
      margin-top: 3rem;

      ion-card-header {
        padding-bottom: 0;
      }

      a.forgot-password {
        padding-left: 1rem;
      }

      .submit-button {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
        gap: 1rem;

        p {
          display: grid;
          place-content: center;
          text-align: center;
        }
      }
    }
  }
}
