<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="page-container login">
    <div class="content">
      <ion-img
        class="logo"
        src="../../../../assets/logo/logo.svg"
        alt="LOGO"
      ></ion-img>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Bem vindo!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form
            [formGroup]="loginForm"
            (submit)="onSubmit($event)"
            class="login-form"
          >
            <ion-list>
              <ion-item lines="none">
                <ion-input
                  autofocus
                  type="email"
                  placeholder="Email"
                  autocomplete="email"
                  formControlName="email"
                  [errorText]="'Email inválido'"
                >
                  <ion-icon
                    inert="true"
                    ios="mail-outline"
                    md="mail-outline"
                    size="medium"
                    slot="start"
                  ></ion-icon>
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-input
                  type="password"
                  placeholder="Senha"
                  formControlName="password"
                  [errorText]="'Senha inválida'"
                >
                  <ion-icon
                    inert="true"
                    ios="key-outline"
                    md="key-outline"
                    size="medium"
                    slot="start"
                  ></ion-icon>

                  <ion-input-password-toggle
                    slot="end"
                  ></ion-input-password-toggle>
                </ion-input>
              </ion-item>
            </ion-list>

            <a
              fill="clear"
              [routerLink]="['/auth/recover']"
              class="forgot-password"
            >
              Esqueci minha senha
            </a>

            <div class="submit-button f-centralize">
              <ion-button type="submit">Entrar</ion-button>

              <p>
                Não possui uma conta?
                <ion-text color="primary">Fale com seu administrador</ion-text>
              </p>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-phrases></app-phrases>
</ion-footer>

<div class="b-circle primary-background"></div>
