<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-appearance-button></app-appearance-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container login">
    <!-- <ion-button [routerLink]="['/users/tabs/home']">
      Go to tabs
    </ion-button>

    <ion-button [routerLink]="['/auth/register']">
      Go to Register
    </ion-button>

    <ion-button [routerLink]="['/auth/steps']">
      Go to Steps
    </ion-button> -->

    <ion-button color="primary" (click)="login(roles.ALUMN)">
      Entrar como Aluno
    </ion-button>

    <ion-button color="secondary" (click)="login(roles.ADMIN)">
      Entrar como Admin
    </ion-button>

    <ion-button color="secondary" (click)="login(roles.GUSER)">
      Entrar como Guser
    </ion-button>
  </div>
</ion-content>
